/*Base*/
body {
	font-family: 'Open Sans', sans-serif;
	color: #4d5a6b;
	font-weight: bold;
}

ul, li {
	padding: 0;
	margin: 0;
	display: block;
	/*list-style: none;*/
}

li.active a {
	color: #ff6c00;
}

.container {
    padding: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	color: #ff6c00;
	text-decoration: none;
}

h1 {
	font-size: 60px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}

h3 {
	font-size: 28px;
	color: #4d5a6b;
	font-weight: bold;
	position: relative;
	margin-top: 94px;
	margin-bottom: 91px;
	text-transform: uppercase;
    letter-spacing: 1px;
}

h3:after {
	content: '';
	display: block;
	height: 1px;
	background-color: #ff6c00;
	width: 165px;
	position: absolute;
	bottom: -20px;
}

h5 {
	text-transform: uppercase;
	font-weight: bold;
    font-size: 16px;
}

.button {
	padding: 7px 14px;
	text-transform: uppercase;
	color: #ff6c00;
	font-weight: bold;
	border: 1px solid #ff6c00;
	border-radius: 20px;
	font-size: 14px;
}

.button-main {
    margin: 25px 0;
    padding: 8px 34px;
    border-radius: 25px;
    font-weight: 600;
    background-color: #ff6c00;
    color: #fff;
    border: 1px solid transparent;
    cursor: pointer;
    text-transform: uppercase;
	transition: 300ms;
}

.button-main:hover {
	background-color: transparent;
	border: 1px solid #ff6c00;
	color: #ff6c00;
}

.form-button {
	text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0;
}

/*HEADER*/

header {
	color: #fff;
	background-color: rgba(77,90,107,.28);
	position: absolute;
	width: 100%;
	z-index: 10;

}

.navbar {
	padding: .5rem 0;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.menu {
	display: flex;
	font-weight: bold; 
}

.menu_item {
	margin-right: 30px;
	padding: 22px 0;
}

.menu_item.selected a {
    color: #ff6c00;
}

.menu_item:last-child {
	margin-right: 0;
}

.menu_item a{
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	transition: 200ms;
}

.menu_item a:hover {
	color: #ff6c00;
	text-decoration: none;
}

.col {
	padding: 0;
}

/*FIRST SCREEN*/

.first-screen {
	height: 100vh;
	background: url('../img/first_screen-bg.jpg');
	background-size: cover;
	display: flex;
	align-items: center;
	background-repeat: no-repeat;
    padding: 0;
}

.main_box {
	padding: 29px;
	margin-top: 63px;
	background-color: rgba(77,90,107,.25);
	max-width: 720px;
	color: #fff;
}

.main_box-slogan {
	margin-top: 52px;
	font-size: 30px;
	font-weight: 600;
}

.main_box-p {
	font-size: 18px;
	line-height: 1.2;
}

/*LAST RESULT*/

.last_result .container {
    padding: 0;
}

.car-img img {
	width: 100%;
	height: auto;
}

.car_info {
    padding: 0 8px;
	width: 100%;
	height: 132px;
	background-color: #edeef0;  
	color: #121e37;
	font-size: 14px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.car_info-price {
    margin-top: 10px;
	font-size: 16px;
}


 
.button-result {
	margin: auto;
	margin-top: 68px;
    display: block;
	transition: 300ms;
	max-width: 163px;
}

.button-result:hover {
    background-color: #ff6c00;
    color: #fff;
}

/*ABOUT US*/

.about_us {
	overflow: hidden;
}

.about_us .col-7 {
    padding: 0;
}



.about_us-img {
	background-image: url('../img/abut_us.jpg');
	background-size: cover;
    background-position: bottom;
	height: 100%;
	position: relative;
	width: 50vw;

}



ul.about_us-ul {
	list-style-type: square;
	margin-left: 37px;
    margin-bottom: 25px;
}

ul.about_us-ul li {
	display: list-item;
}


/*CTA FORM*/
.form_secion {
	background-image: url("../img/footer-bg.jpg");
	background-size: cover;
	margin: 100px 0;
}

.form-bg {
	background-color: rgba(77,90,107,.25);
	padding-top: 110px;
	position: relative;
	top: 50px;

}

.form-bg .row {
	justify-content: center;
}

.form-text {
	color: #fff;
}

.form-text h4 {
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
}

.form-text p {
	font-size: 16px;
	font-weight: 600;
	margin: 60px 0 55px;
}

.cta_form {
	text-align: center;
}

.cta_form input,
.cta_form textarea {
	font-weight: 600;
	padding: 15px 40px;
	border-radius: 25px;
}

.cta_form input {
	margin-bottom: 25px;
}

.cta_form textarea {
	width: 100%;
	height: 175px;
}

.cta_form button {
	margin: 25px 0;
	padding: 8px 34px;
	border-radius: 25px;
	box-shadow: none;
	font-weight: 600;
	background-color: #ff6c00;
	color: #fff;
	border: none;
    cursor: pointer;
}


/*SUB PAGES
==============================================*/

.main_box-sub {
    text-align: center;
    margin-top: 0;
    background: none;
    padding: 0;
    max-width: 100%;
}

.h1-sub {
    position: relative;
    top: 7px;
    padding: 30px 44px;
    background-color: rgba(77,90,107,.25);
}

.first-screen_sub {
    height: 57vh;
    background-image: url('../img/bg-sub.jpg');
}

.path {
    margin: 34px 0 -8px;
    text-align: center;
    font-weight: 600;
}

.path span {
    color: #ff6c00;
}


/*LAST ReSULT*/

.car-row {
    margin-top: 50px;
}


/*BUY*/

.buy-words {
    margin-top: 40px;
}

.buy-words-p {
    margin-bottom: 25px;
}

.buy-words-p.last {
    margin-bottom: 0;
}

.consultation h3,
.car-sell h3,
.insurance h3{
    margin-bottom: 55px;
}

/*BG GARANT*/
.bg-garant {
    height: 69vh;
    margin-top: 100px;
    background-image: url('../img/bg-car-sell.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.main_box-sell {
    margin-left: 15px;
    line-height: 2.6;
    margin-top: 0;
    padding: 50px;
}

/*404 BG*/
.bg-404 {
    height: 123vh;
    background-image: url('../img/bg-404.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
}

.error-text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    top: -10px;
}

.error-text h1,
.error-text h2{
    font-weight: 800;
    text-transform: uppercase;
}

.error-text h1 {
    font-size: 200px;
    margin-bottom: 0;
}

.error-text h2 {
    font-size: 60px;
    margin-bottom: 15px;
}

.error-msg {
    text-align: center;
    margin-bottom: 27px;
}


/*THANK*/
.thank-screen {
	background-image: url('../img/bg-thank.jpg');
	background-size: cover;
	height: 115vh;
	display: flex;
	align-items: center;
}

.thank-screen-text {
	text-align: center;
	color: #fff;
	position: relative;
	top: 45px;
}

.thank-screen-text h1{
	top: 0;
	margin-bottom: 20px;
}

.thank-screen-text p {
	margin-bottom: 60px;
}

/*CONTACT*/

.contacts {
	margin-top: 45px;
	margin-bottom: 110px;
}

.contact-container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 15px;
	display: flex;
	justify-content: center;
}

.contact-list {
	margin-right: 80px;
}
.contact-list:last-child {
	margin-right: 0;
}

.contact-list li a {
	color: #000;
}

.first-line {
	margin-bottom: 40px;
}

/*MAP*/
.map-container {
	background-image: url('../img/map.jpg');
	background-size: cover;
	height: 357px;
}

/*FOOTER*/

footer {
	background-color: #4d5a6b;
	color: #fff;
	padding-top: 89px;
}

footer .container {
    padding: 0;
}

.footer-nav {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
    margin-top: 30px;
}

.footer-nav li {
    margin-bottom: 10px;
}

footer img {
    position: relative;
	top: 28px;
	max-width: 100%;
}

.copyright {
	text-align: center;
}

.row-nav {
	padding-bottom: 80px;
}

/* MEDIA
===================== */

@media (max-width:991px) {
	.about_us-img {
		width: 100vw;
    transform: translateX(calc((40em - 100vw)/2));
		height: 400px;
	}

	.contact-list {
		margin-right: 40px;
	}
}

@media (max-width:768px) {
	h1{
		font-size: 45px;
	}

	.contact-container {
		flex-wrap: wrap;
	}
	
	.contact-list {
		margin-right: 2%;
		width: 48%;

	}
}